<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include("navbar") %>
<h1>Welcome to TripMate!</h1>
<a href="/users/login">Login</a> | <a href="/users/signup">Sign Up</a>
</body>
</html>
