/* The following part is my own code.*/

/* Set the title font size and weight included in my project.
   h5 and h6 are not here because they are not in the HTML document.*/
h1 {
  font-weight: 300; /* between 100-800 */
  font-size: 8em;
}

h2 {
  font-weight: 400; /* between 100-800 */
  font-size: 5.5em;
}

h3 {
  font-weight: 200;
  font-size: 4em;
}

h4 {
  font-weight: 120;
  font-size:1.2em;
}

/* Reset basic styling settings.
   Choose Roboto Slab Serif as the theme font.*/
/* Roboto Slab is from google fonts: https://fonts.google.com/selection/embed*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

/* Basic layout, replace pale white background with slight gray white background, improving user experience of reading.*/
body {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

/* Header with shadow, the line of shadow also serves as the divider between the navigation bar and the main content area. */
header {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation bar, set colors*/
nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2em;
}

nav ul li {
  display: flex;
  flex-flow: row wrap;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
}

/* Set active navigation item's color */
nav ul li a:hover,
nav ul li a.active {
  background-color: #e5e5e5;
  color: #000;
}

/* Main intro section */
.intro {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
}

/* This is purely decoration.*/
.intro span {
  color: #93bb34;
}

/*Ref: https://developers.google.com/fonts/docs/getting_started
  Set a subtle shadow to make the website more delicate */
.intro .greetings {
  text-align: left;
  text-shadow: 4px 4px 4px #e5e5e5;
  width: 73%;
  margin: 1em;
  padding: 10px;
}

.intro .self-intro {
  text-align: left;
  width: 17%;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  margin: 5em 1em 1em;
  padding: 10px;
}

.intro h2 {
  word-wrap: break-word;
}

/* Ref: https://www.cnblogs.com/lgx5/p/14203655.html*/
.name-logo {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 2em;
  margin-bottom: 1em;
  justify-content: center;
}

.name-logo .intro-name {
  text-align: left;
  margin-top: 4em;
  padding: 0 2em;
  width: auto;
  text-shadow: 4px 4px 4px #e5e5e5;
}

.name-logo .intro-logo {
  margin-top: 4em;
  padding: 0 2em;
  width: 450px;
}

.name-logo .intro-logo img {
  object-fit: fill;
  width: 100%;
  padding: 20px;
  height: auto;
}

/* Section for the cards */
.cards {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 20px;
}

.card {
  width: auto;
  height: 12em;
  background-color: #93bb34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* When hovered, card turns into semitransparent*/
.card:hover {
  opacity: 0.7;
}

/* Cards with different background colors */
.card.gray {
  background-color: #e5e5e5;
}

.card.transparent {
  background-color: transparent;
}

.card p {
  margin-top: 10px;
  color: #333;
}

.card h3{
  margin-top: 0;
}

.card a{
  text-decoration: none;
  color: #333;
}
/* Cards with different lengths */
.card.long {
  width: 75%;
}

.card.short {
  width: 25%;
}

#homepage-cards {
  display: flex;
  flex-flow: row wrap;
}

#homepage-cards .card{
  border-radius: 20px;
  margin: 1em;
  min-width: 200px;
}

/* Pagination dots */
.dots {
  text-align: center;
  margin: 20px 0;
}

.dot {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #ddd;
  border-radius: 50%;
}

.dot.active {
  background-color: #93bb34;
}

/* Divider */

.divider-line {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  height: 0;
  border-top: 2px solid #e5e5e5;
  text-align: center;
  justify-content: center;
  margin: 2em 0;
}

/* Text on the divider */
.divider-line h4 {
  position: relative;
  top: -0.7em;
}

/* Sidebar */
/* If the width of screen is smaller than 775px, the sidebar will be hidden.*/
@media (max-width: 775px) {
  .pg-w-sidebar .sidebar {
    display: none;
  }
  .pg-w-sidebar .content {
    margin-left: 0;
  }
  .project-sec .cards {
    flex-flow: row wrap;
  }
  .project-sec .card {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* If sidebar is shown, content should be at the right of the screen.*/
@media (min-width: 775px) {
  .pg-w-sidebar .content {
    margin-left: 20%;
    margin-right: 8%;
  }
}

/* Sidebar menu */
.sidebar {
  position: fixed;
  left: 0;
  top: 80px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border-right: #e5e5e5 solid 2px;
}

.sidebar .dot {
  width: 10px;
  height: 10px;
  margin: 10px 0;
  background-color: #ddd;
  border-radius: 50%;
}

.sidebar .dot.active {
  background-color: #93bb34;
  width: 12px;
  height: 12px;
}

.sidebar ul {
  list-style: none;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.sidebar ul li {
  margin-bottom: 1.5em;
}

.sidebar ul li a:hover {
  color: #93bb34;
}

.sidebar a {
  text-decoration: none;
  margin-right: 0.5em;
  color: #333;
  border-radius: 5px;
}

/* Main content */
.content {
  max-width: 1000px;
  text-align: center;
}

/* Project section */
.project-sec .cards {
  width: 100%;
  display: flex;
}

.project-sec .card {
  height: 15em;
  /*container-type: size;*/
}

.project-sec .card.title {
  width: 100%;
  height: 1.5em;
  justify-content: center;
  /* Font size will be automatically adjusted due to the card size
   Ref: https://blog.csdn.net/hongying_18/article/details/134743075*/
  font-size: 3em;
  font-weight: 200;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.project-sec .card.title:hover{
  color: black;
  opacity: 1;
}

/* Images will be adjusted to the size of card automatically,
   Reference:https://blog.csdn.net/weixin_45525653/article/details/125259131 */
.project-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Top right status indicator */
.switch-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 5px;
}

.switch-buttons .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.switch-buttons .circle.active {
  background-color: #93bb34;
}

.pg-w-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pg-w-sidebar .sidebar {
  width: 20%;
}

.pg-w-sidebar .sidebar ul {
  width: 100%;
  margin-top: 10em;
  padding: 1em;
}

.pg-w-sidebar .content {
  width: 80%;
  padding: 20px;
}

/* Project details, including articles, images, titles*/

.article-title {
  text-shadow: 4px 4px 4px #e5e5e5;
}

.article p {
  margin: 1em;
  text-align: justify;
  padding: 1em;
}

.article img {
  width: 100%;
  height: auto;
  margin-top: 1em;
}

/* About Me CV parts*/
.cv {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.cv .cv-title {
  width: 75%;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  color: #93bb34;
}

.cv .cv-period {
  width: 25%;
  text-align: right;
  color: gray;
  font-style: italic;
}

.cv-entry {
  padding: 10px;
  margin: 10px;
}

.cv-entry p {
  text-align: justify;
}

.cv-entry ul {
  text-align: left;
  list-style: none;
}

