/* The following part is my own code.*/
/* Import the fonts that I need. From google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Set the title font size and weight included in my project.
   h5 and h6 are not here because they are not in the HTML document.*/
h1 {
  font-weight: 300; /* between 100-800 */
  font-size: 8em;
}

h2 {
  font-weight: 400; /* between 100-800 */
  font-size: 5.5em;
}

h3 {
  font-weight: 200;
  font-size: 4em;
}

h4 {
  font-weight: 120;
  font-size:1.2em;
}

/* Reset basic styling settings.
   Choose Roboto Slab Serif as the theme font.*/
/* Roboto Slab is from google fonts: https://fonts.google.com/selection/embed*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

/* Basic layout, replace pale white background with slight gray white background, improving user experience of reading.*/
body {
  background-color: #efece0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Add smooth scrolling to the pages. */
html {
  scroll-behavior: smooth;
}

/* Main intro section */
.intro {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
}

/* This is purely decoration.*/
.intro span {
  color: #93bb34;
}

/*Ref: https://developers.google.com/fonts/docs/getting_started
  Set a subtle shadow to make the website more delicate */
.intro #greetings {
  text-align: left;
  text-shadow: 4px 4px 4px #e5e5e5;
  width: 73%;
  margin: 1em;
  padding: 10px;
}

.intro #email {
  text-align: center;
  font-size: 1em;
  color: rgba(131, 128, 126);
}

.intro #self-intro {
  text-align: left;
  width: 17%;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  margin: 5em 1em 1em;
  padding: 10px;
}

.intro h2 {
  word-wrap: break-word;
}

/* Ref: https://www.cnblogs.com/lgx5/p/14203655.html*/
.name-logo {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 2em;
  margin-bottom: 1em;
  justify-content: center;
}

.name-logo .intro-name {
  text-align: left;
  margin-top: 4em;
  padding: 0 2em;
  width: auto;
  text-shadow: 4px 4px 4px #e5e5e5;
}

.name-logo .intro-logo {
  margin-top: 4em;
  padding: 0 2em;
  width: 450px;
}

.name-logo .intro-logo img {
  object-fit: fill;
  width: 100%;
  padding: 20px;
  height: auto;
}

/* Section for the cards */
.cards {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 20px;
}

#homepage-cards {
  display: flex;
  flex-flow: row wrap;
}

#homepage-cards .card{
  border-radius: 20px;
  margin: 1em;
  min-width: 200px;
}

/* Divider */

.divider-line {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  height: 0;
  border-top: 1px solid rgba(159, 140, 120, 0.3);
  text-align: center;
  justify-content: center;
  margin: 2em 0;
}

/* Text on the divider */
.divider-line h4 {
  position: relative;
  top: -0.7em;
}

/* Sidebar */
/* If the width of screen is smaller than 775px, the sidebar will be hidden.*/
@media (max-width: 775px) {
  .pg-w-sidebar .sidebar {
    display: none;
  }
  .pg-w-sidebar .content {
    margin-left: 0;
  }
  .project-sec .cards {
    flex-flow: row wrap;
  }
  .project-sec .card {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* If sidebar is shown, content should be at the right of the screen.*/
@media (min-width: 775px) {
  .pg-w-sidebar .content {
    margin-left: 20%;
    margin-right: 8%;
  }
}

/* Sidebar menu */
.sidebar {
  position: fixed;
  left: 0;
  top: 80px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border-right: #e5e5e5 solid 2px;
  transition:width ease-in-out 0.1s;
}

.sidebar .dot {
  width: 10px;
  height: 10px;
  margin: 10px 0;
  background-color: #ddd;
  border-radius: 50%;
}

.sidebar .dot.active {
  background-color: #93bb34;
  width: 12px;
  height: 12px;
}

.sidebar ul {
  list-style: none;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar ul li a:hover {
  color: #93bb34;
}

.sidebar a {
  text-decoration: none;
  margin-right: 0.5em;
  color: #333;
  border-radius: 5px;
}

/* Main content */
.content {
  max-width: 1000px;
  text-align: center;
}

/* Project section */
.project-sec .cards {
  width: 100%;
  display: flex;
}

.project-sec .card {
  height: 15em;
  /*container-type: size;*/
}

.project-sec .card.title {
  width: 100%;
  height: 1.5em;
  justify-content: center;
  /* Font size will be automatically adjusted due to the card size
   Ref: https://blog.csdn.net/hongying_18/article/details/134743075*/
  font-size: 3em;
  font-weight: 200;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.project-sec .card.title:hover{
  color: black;
  opacity: 1;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

/* Images will be adjusted to the size of card automatically,
   Reference:https://blog.csdn.net/weixin_45525653/article/details/125259131 */
.project-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Top right status indicator */
.switch-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 5px;
}

.switch-buttons .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.switch-buttons .circle.active {
  background-color: #93bb34;
}


/* Project details, including articles, img, titles*/

.article-title {
  text-shadow: 4px 4px 4px #e5e5e5;
}

.article p {
  margin: 1em;
  text-align: justify;
  padding: 1em;
}

.article img {
  width: 100%;
  height: auto;
  margin-top: 1em;
}

